* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,
ol {
    list-style: none;
}
a {
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1146px;
    margin: 0 auto;
    background-color: transparent;
    margin-left: 240px;
}

.section{
    width: 1146px;
    margin: 0 auto;
    background-color: transparent;
    margin-left: 170px;
}

.header {
    padding-top: 70px;
    padding-bottom: 100px;
    font-family: 'Playfair Display', serif;
    margin-bottom: 1px;
}

.header__list {
    font-size: 14pt;
    display: inline-block;
    text-align: right;
}

.header__list-item {
    display: inline-block;
    margin-right: 30px;
    text-transform: uppercase;
    font-size: 14px;
    padding-left: 72px;
}

.header__list-item-first{
    margin-left: 77px;
}

.header__list-item-last {
    margin-right: 0;
} 

.header__list-link:hover {
    color: #03a9f4;
}

.lifsyle-list{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 140px;
}

.lifestyle-list-item {
    display: inline-block;
    width: 420px;
    margin-left: 60px;
}

.lifestyle-list-occupation {
    margin-top: 25px;
    text-transform: uppercase;
    font-size: 14pt;
    font-family: 'Ubuntu', sans-serif;
    color:#b4ad9e
}

.lifestyle-list-name {
    margin-top: 15px;
    font-size: 30px;
}

.lifestyle-list-about {
    margin-top: 40px;
    margin-bottom: 100px;
    height: 50pt;
    text-align: left;
}

.loadmore {
    border: 1px;
    margin: 0;
    padding: 20px 30px;
    margin-bottom: 70px;
    margin-left: 350px;
    background-color: #ffffff;  
    cursor: pointer;
    font-size: 16pt;
    border-width: 1px;
    border-color: rgb(98, 98, 98);
    border-style: solid;
    font-family: "Playfair Display", serif;
}


  

  





