/* pt-serif-italic - latin */
@font-face {
    font-family: 'PT Serif';
    font-style: italic;
    font-weight: 400;
    src: local('PT Serif Italic'), local('PTSerif-Italic'),
         url('../fonts/pt-serif-v11-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/pt-serif-v11-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-800 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
         url('../fonts/montserrat-v14-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

html {
    box-sizing: border-box;
}

*,
 *::before,
  *::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0
    ;
}

ul,
ol{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
    height: auto;
}

.container{
    width: 940px;
    margin: 0 auto;
    background-color: transparent;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

.navigation{
    display: flex;
    justify-content: space-between;
    padding-top: 36px;
}

.logotype {
    float: left;
    margin-bottom: 115px;
}

.header{
    margin-bottom: 113px;
}


.header__list-item{
    margin-left: 30px;
    float: left;
    font-size: 15px;
    padding-top: 3px;
    text-align: left;
}

.header__list {
display: flex;
justify-content: space-between;

}


.header__list-link{
    color: #0f0101;
    font-family: "Montserrat";
    font-weight: 400;
    color: #222222;
    font-size: 17px;
}

.header__list-link:hover{
    color: #feda5e;
    transition: all 0.2s linear;
}

.header__title {
    font-size: 48px;
    color: black;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 16px;
    font-family: "Montserrat";
    font-weight: 800;
}

.header__subtitle {
    font-family: 'PT Serif';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    color: rgb(119, 119, 119);
    text-align: center;
    margin-bottom: 58px;
}

.services__list {
    display: flex;
    justify-content: space-between;
}

.services__list-item {
    width: 275px;
}

.services__list-item::before {
    display: block;
    content: "";
    width: 74px;
    height: 74px;
    border: 3px solid rgb(254, 218, 94);
    border-radius: 50%;
    margin: 0 auto;
    background-image: url("../img/Icons/icon1.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 26px;
}

.services__list-item:nth-child(2)::before {
    background-image: url("../img/Icons/icon2.png");
}

.services__list-item:last-child::before{
    background-image: url("../img/Icons/Icon-Locked.png");
}

.services__list-title{
    font-family: "Montserrat", serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}

.services__list-text{
    font-family: "Roboto", serif;
    font-weight: 400;
    font-size: 14px;
   text-align: center;
   color: rgb(156, 156, 156);
   line-height: 25px;
}

.message__title {
    font-size: 48px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 16px;
    font-family: "Montserrat";
    padding-top: 110px;
}

.message__subtitle {
    font-family: 'PT Serif';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    color: rgb(119, 119, 119);
    text-align: center;
    margin-bottom: 77px;
}

.message{
    background-color: black;
    background-image: url(../img/Map.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    
}

.form{
  width: 940px;
  margin: 0 auto;
  padding-bottom: 115px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
}

.blank{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.personalinfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 210px;
}

.form__input{
    padding: 19px 270px 19px 20px;
    border-radius: 2px;
    border: 1px solid;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
}

.textarea {
    resize: none;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 2px;
    width: 455px;
    height:210px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    color: #777777;
}

.form__btn{
    border-radius: 3px;
    background-color: rgb(254, 209, 54);
    color: white;
    border: none;
    padding: 25px 50px 25px 50px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
}




