html {
    box-sizing: border-box;
}

*,
 *::before,
  *::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0
    ;
}

ul,
ol{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
    height: auto;
}

.container{
    width: 940px;
    margin: 0 auto;
    background-color: transparent;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

.navigation{
    display: flex;
    justify-content: space-between;
    padding-top: 36px;
}

.logotype {
    float: left;
    margin-bottom: 115px;
}

.header{
    margin-bottom: 113px;
}


.header__list-item{
    margin-left: 30px;
    float: left;
    font-size: 15px;
    padding-top: 3px;
    text-align: left;
}

.header__list {
display: flex;
justify-content: space-between;

}


.header__list-link{
    color: #0f0101;
    font-family: "Montserrat", serif;
    font-weight: 500;
    color: #222222;
    font-size: 17px;
}

.header__list-link:hover{
    color: #feda5e;
    transition: all 0.2s linear;
}

.header__title {
    font-size: 48px;
    color: black;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 16px;
    font-family: "Montserrat", sans-serif;
}

.header__subtitle {
    font-family: "Roboto Slab", serif;
    font-size: 20px;
    color: black;
    text-align: center;
    margin-bottom: 58px;
}

.services__list {
    display: flex;
    justify-content: space-between;
}

.services__list-item {
    width: 275px;
}

.services__list-item::before {
    display: block;
    content: "";
    width: 74px;
    height: 74px;
    border: 3px solid rgb(254, 218, 94);
    border-radius: 50%;
    margin: 0 auto;
    background-image: url("../img/Icons/icon1.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 26px;
}

.services__list-item:nth-child(2)::before {
    background-image: url("../img/Icons/icon2.png");
}

.services__list-item:last-child::before{
    background-image: url("../img/Icons/Icon-Locked.png");
}

.services__list-title{
    font-family: "Montserrat", serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}

.services__list-text{
    font-family: "Roboto", serif;
    font-weight: 400;
    font-size: 14px;
   text-align: center;
   color: rgb(156, 156, 156);
}