
@media ( -webkit-min-device-pixel-ratio: 2), ( -o-min-device-pixel-ratio: 2/1), ( min-resolution: 192dpi), (min-resolution: 2bppx){
    .header{
        background-image: url("../imagine/header/picture@2x.jpg");
    }
}

.header{
    background:-webkit-gradient(linear,  left top, left bottom,  from(rgba(231, 128, 130, 0.9)),  to(rgba(239, 217, 138, 0.9)) ),url("../images/header/picture.jpg");
    background:-o-linear-gradient(rgba(231, 128, 130, 0.9),  rgba(239, 217, 138, 0.9) ),url("../img/header/picture.jpg");
    background:linear-gradient(rgba(231, 128, 130, 0.9),  rgba(239, 217, 138, 0.9) ),url("../images/header/picture.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 1000px;
    color: white;

   &__list{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 30px;
    margin-top: 0px;
}


&__navigation{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 620px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}



&__text{
    margin: 0 auto;
    text-align: center;
    width: 821px;
    margin-top: 100px;

}


&__text-uptitle{
    font-size: 72px;
    font-family: 'Kaushan Script';
}

&__text-title{
    font-size:150px;
    font-family: sans-serif;
    padding-top: 20px;
    margin-bottom: 110px;
    font-family: $main-font;
    font-weight: 800;
    
}

&__button{
   display: block;
   margin: 0 auto;
   width: 164px;
   height: 44px;  
   background-color: transparent;
   color: white;
   border-width: 3px;
   border-color: rgb(255, 255, 255);
   border-style: solid;
   font-size: 14px;
   font-family: $main-font;
   font-weight: 800;
   cursor: pointer;
   outline: none;
}

&__button:hover{
    -webkit-transition: .5s linear;
    -o-transition: .5s linear;
    transition: .5s linear;
    border-color: #95e1d3;
    font-size: 13px;
    
}
}


.navigation__item{
    color: white;
    font-family: $main-font;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
}